@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.prismic-page p {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 10px;
}

.prismic-page > h1,
.prismic-page > h2,
.prismic-page > h3,
.prismic-page > h4,
.prismic-page > h5 {
  max-width: 800px;
  margin: 0 auto;
}

.prismic-page .block-img {
  max-width: 1300px;
  /* width: 100%; */
}

/* p {
  max-width: 800px;
  margin: 0 auto;
} */
/* /block-img is only for prismic images */
/* .block-img {
  max-width: 100%;
} */

/* h1,
h2,
h3,
h4,
h5 {
  width: 800px;
  max-width: 1000px;
  margin: 0 auto;
} */

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.3rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.2rem;
}

* {
  box-sizing: border-box;
}

.black {
  background-color: black;
}
